table.schedule {
    empty-cells: hide;
    hyphens: manual;
    zoom: 0.8;
    width: 100%;
    border: 1px solid silver;
    table-layout: fixed;
}

table.schedule td {
    height: 40px;
    width: 15%;
    vertical-align: middle;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 10px;
}

table.schedule th {
    width: 15%;
    background-color: aliceblue
}


table.schedule td.lecture {
    background-color: lightgreen;
}

table.schedule td.other {
    text-decoration: underline;
    font-weight: bolder;
    background-color: coral;
    text-align: center;
}


table.schedule td.tutoring {
    background-color: lightblue;
}

table.schedule td.lab {
    background-color: moccasin;
}

table.schedule td.guest {
    background-color: orange;
}

table.schedule td.exam {
    background-color: coral;
    text-decoration: underline;
    font-weight: bolder;
}

table.lectures, table.lectures th, table.lectures td {
    border: 1px solid black;
}

table.rooms, table.rooms th, table.rooms td {
    border: 1px solid black;
}